# Introduction to Data Science 2025

# Week 1

## Exercise 1 | Matrix warm-up
<span style="background-color: #ccfff2"> *Note: You can find tutorials for NumPy and Pandas under 'Useful tutorials' in the course material.*</span>

One of the most useful properties of any scientific programming language (Python with NumPy, R, Julia, etc) is that they allow us to work with matrices efficiently. Let's learn more about these features!

### 1.1 Basics

1. Let's start by creating two arrays <span style="background-color: #ccfff2"> A</span> and <span style="background-color: #ccfff2"> B</span> which each have the integers <span style="background-color: #ccfff2"> 0, 1, 2, ..., 1e7-1</span>. Use the normal arrays or lists of the programming language you are using, e.g. *list* or *[ ]* or *numpy.array()* in Python.

In [2]:
import numpy as np

A =np.arange(0,1e7)
B=np.arange(0,1e7)
#orrmaybe A=range(0,1e7) ? 
#or [i for i in range(0,1e7)]? 
A

array([0.000000e+00, 1.000000e+00, 2.000000e+00, ..., 9.999997e+06,
       9.999998e+06, 9.999999e+06], shape=(10000000,))

2. Create a function that uses a <span style="background-color: #ccfff2"> for loop</span> or equivalent to return a new array <span style="background-color: #ccfff2"> C</span>, which contains the <span style="background-color: #ccfff2"> element-wise sum of *A* and *B*</span>, e.g. C should contain the integers <span style="background-color: #ccfff2"> 0, 2, 4, etc</span>.

In [3]:
def add_with_for(A,B):
    C = []
    # add your code here
    for i in range(len(A)):
        C.append(A[i]+B[i])
    return C

3. Next, let's create another function that uses NumPy (or equivalent) to do the same. To try it out, allocate two arrays (e.g. using <span style="background-color: #ccfff2"> np.array</span> in NumPy) and add the arrays together using your function. Don't use loops, instead, find out how to add the two arrays directly. What do you notice in comparison to the previous function?

In [4]:
# Use this cell for your code
def add_numpy(A,B):
    return A+B
#it should be quicker than wthi the for loop

### 1.2 Array manipulation

<span style="background-color: #ccfff2"> *Note: for the following exercises, only use NumPy or equivalent functions. Don't use any loops.* </span>
1. Create the following array:

*[hint: <span style="background-color: #ccfff2"> np.reshape</span>]*

In [4]:
# array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
#        [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
#        [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
#        [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
#        [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
#        [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
#        [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
#        [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
#        [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
#        [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [5]:
# Use this cell for your code
A = np.arange(0,100).reshape(10,10)
A

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

2. Create the following array:

In [6]:
# array([[0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
#        [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.]])

In [6]:
# Use this cell for your code
A = np.tile([0.,1.],(10,5))
A
#maybe i need to initialize the list outside as an np array?
#Ã  faire

array([[0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1., 0., 1.]])

3. Create the following array (D):

In [8]:
# array([[0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
#        [1., 0., 1., 1., 1., 1., 1., 1., 1., 1.],
#        [1., 1., 0., 1., 1., 1., 1., 1., 1., 1.],
#        [1., 1., 1., 0., 1., 1., 1., 1., 1., 1.],
#        [1., 1., 1., 1., 0., 1., 1., 1., 1., 1.],
#        [1., 1., 1., 1., 1., 0., 1., 1., 1., 1.],
#        [1., 1., 1., 1., 1., 1., 0., 1., 1., 1.],
#        [1., 1., 1., 1., 1., 1., 1., 0., 1., 1.],
#        [1., 1., 1., 1., 1., 1., 1., 1., 0., 1.],
#        [1., 1., 1., 1., 1., 1., 1., 1., 1., 0.]])

In [7]:
# Use this cell for your code
D = np.ones((10,10))
np.fill_diagonal(D,0)
D
#np.eye? but itgives the opposite.

array([[0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 0., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 0., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 0., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 0., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 0., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 0., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 0.]])

4. Create the following array (E):

In [10]:
# array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
#        [1., 1., 1., 1., 1., 1., 1., 1., 0., 1.],
#        [1., 1., 1., 1., 1., 1., 1., 0., 1., 1.],
#        [1., 1., 1., 1., 1., 1., 0., 1., 1., 1.],
#        [1., 1., 1., 1., 1., 0., 1., 1., 1., 1.],
#        [1., 1., 1., 1., 0., 1., 1., 1., 1., 1.],
#        [1., 1., 1., 0., 1., 1., 1., 1., 1., 1.],
#        [1., 1., 0., 1., 1., 1., 1., 1., 1., 1.],
#        [1., 0., 1., 1., 1., 1., 1., 1., 1., 1.],
#        [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [8]:
# Use this cell for your code
#flipud or fliplr? whats the difference here 
E = np.ones((10,10))
np.fill_diagonal(np.flipud(E),0)
E

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1., 1., 1., 1., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 0., 1., 1.],
       [1., 1., 1., 1., 1., 1., 0., 1., 1., 1.],
       [1., 1., 1., 1., 1., 0., 1., 1., 1., 1.],
       [1., 1., 1., 1., 0., 1., 1., 1., 1., 1.],
       [1., 1., 1., 0., 1., 1., 1., 1., 1., 1.],
       [1., 1., 0., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

5. Call the last two matrices <span style="background-color: #ccfff2">D</span> and <span style="background-color: #ccfff2">E</span>, respectively. Show that the determinant of their product (matrix multiplication) is the same as the product of their determinants. That is calculate both <span style="background-color: #ccfff2">det(DE)</span> and <span style="background-color: #ccfff2">det(D) * det(E)</span>, and show that they are the same. Is it a coincidence? (I think not) The product of the determinants (or the determinant of the product) should be -81.

In [9]:
# Use this cell for your code
#detDE=det(DE) vs detDE2= det(D)*det(E) 

DE = np.dot(D,E)
detDE = np.linalg.det(DE)

detDE2 = np.linalg.det(D) * np.linalg.det(E)

print("determinant D*E ", detDE)
print("det D * det E ", detDE2)

determinant D*E  -81.00000000000003
det D * det E  -81.0

-- *Use this markdown cell for your written answer* --

### 1.3 Slicing

Array slicing is a powerful way to extract data from an array. Let's practice array slicing with the following exercises!

1. Load the [California housing dataset](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html). The data should be a matrix of shape <span style="background-color: #ccfff2">(20640, 8)</span>, that is 20640 rows and 8 columns. Use the <span style="background-color: #ccfff2">.shape</span> attribute of NumPy arrays to verify this. Here's a [description of the fields](https://scikit-learn.org/stable/datasets/real_world.html#california-housing-dataset).

In [12]:
# Use this cell for your code
#copied this from website given above
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
print(housing.data.shape, housing.target.shape)
print(housing.feature_names[0:6])
print(housing.target_names)
#so avgbedr is 3

ERROR: Could not find a version that satisfies the requirement scikit-learn.datasets (from versions: none)
ERROR: No matching distribution found for scikit-learn.datasets

ModuleNotFoundError: No module named 'sklearn'

2. Select rows where the average number of bedrooms <span style="background-color: #ccfff2">(AveBedrms)</span> is higher than 2. The first few row indices should be <span style="background-color: #ccfff2">710,  1023,  1024, ...</span> (zero-indexed). Count these houses - how many rows are selected? *[hint: <span style="background-color: #ccfff2">np.where</span>]*

In [14]:
# Use this cell for your code
#asframe true for pandas
#also possibkle to download the kaggle dataset
np.where(housing.data[:,3]>2)

(array([  710,  1023,  1024,  1030,  1102,  1233,  1234,  1235,  1236,
         1238,  1239,  1240,  1566,  1867,  1871,  1872,  1879,  1881,
         1889,  1901,  1906,  1910,  1911,  1912,  1913,  1914,  1925,
         1926,  1978,  1979,  2392,  2395,  2396,  2397,  2398,  2510,
         2511,  2643,  2656,  2763,  2768,  2776,  2778,  3014,  3086,
         3095,  3258,  3292,  3293,  3313,  3314,  3334,  3349,  3350,
         9193,  9423,  9431,  9451,  9634,  9669,  9671,  9672,  9675,
         9676,  9678,  9679,  9680,  9681,  9682,  9683, 10067, 10076,
        10077, 10078, 10079, 10080, 10081, 10082, 10083, 10084, 10405,
        11705, 11706, 11707, 11708, 11709, 11710, 11711, 11713, 11714,
        11715, 11716, 11717, 11719, 11720, 11721, 11722, 11723, 11724,
        11725, 11729, 11831, 11832, 11833, 11834, 11847, 11848, 11849,
        11850, 11862, 11865, 11866, 11867, 11869, 11870, 12136, 12303,
        12305, 12306, 12307, 12324, 12325, 12344, 12349, 12351, 12354,
        12359, 12361, 12362, 12366, 12368, 12371, 12372, 12374, 12376,
        12390, 12392, 12394, 12396, 12404, 12405, 12430, 12446, 12447,
        13898, 13900, 13911, 13912, 13919, 13920, 13923, 13924, 13934,
        13935, 13936, 13937, 13939, 13940, 13941, 13942, 13943, 13944,
        13945, 13946, 13947, 13948, 13949, 13950, 13953, 13954, 13955,
        13956, 13957, 13958, 13959, 13960, 13961, 13962, 13963, 13964,
        13965, 13966, 13967, 13968, 13969, 13970, 13971, 13972, 13973,
        13974, 13975, 13976, 13978, 13979, 13980, 13999, 14417, 14418,
        14805, 15500, 15595, 15779, 16598, 17878, 17891, 18680, 18681,
        18817, 18821, 18822, 18858, 19331, 19362, 19435, 19536, 19736,
        19780, 19781, 19789, 19800, 19801, 19802, 19803, 19806, 19807,
        19975, 19976, 19977, 20089, 20092, 20093, 20094, 20110, 20112,
        20113]),)

3. Select the rows where the median house age (i.e. median in each block group) <span style="background-color: #ccfff2">(HouseAge)</span> is between 1 and 3 years (inclusive). There should be **124** of these.

In [15]:
# Use this cell for your code
x = np.where((housing.data[:,1]<=3) & (housing.data[:,1]>=1))

#print(x)
#print(x[0])
x[0].size

124

4. Find the mean of the block group population <span style="background-color: #ccfff2">(Population)</span> for homes whose median value is more than 25000 USD (the target variable). It should be around **1425.68**.

In [16]:
# Use this cell for your code
#population index 4
#med house val is a tartget 
#frm site:"The target variable is the median house value for California districts, expressed in hundreds of thousands of dollars ($100,000)."
#so 0.25 
print(housing.target)
x=np.where(housing.target>0.25)
#so gottaselct column 4 for each of these rows 
res=housing.data[x[0],4]
print(np.mean(res))

[4.526 3.585 3.521 ... 0.923 0.847 0.894]
1425.6833737275813

## Exercise 2 | Working with text data

Next, let's look into some text data. We will be looking into Amazon reviews, and the necessary steps to transform a raw dataset into a format more suitable for prediction tasks.

1. Download the automotive 5-core dataset from [here](https://jmcauley.ucsd.edu/data/amazon_v2/categoryFilesSmall/Automotive_5.json.gz). Next, you can extract the data in <span style="background-color: #ccfff2">JSON</span> format. You can also download one of the bigger ones, if you are feeling ambitious. Open the JSON file. Access the <span style="background-color: #ccfff2">reviewText</span> field, which contains the unstructured review text written by the user.

For instance, the first review reads as follows: 

*'After I wrote the below review, the manufacturer contacted me and explained how to use this.  Instead of the (current) picture on Amazon where the phone is placed vertically, you actually use the stand with the phone placed horizontally. [...]'*

In [17]:
# Use this cell for your code
#json has multiple json lines so we gottaeither forloop which would take tenyears 
#or try pandas? 
#!pip install pandas
import pandas as pd

data = pd.read_json('Automotive_5.json', lines=True)
#print(data.head()) nice works

data["reviewText"]

0          After I wrote the below review, the manufactur...
1          It sucks barely picks up anything definitely n...
2          Well to write a short one, it blew 2 fuses of ...
3          I have absolutely no memory of buying this but...
4                                       it ok it does it job
                                 ...
1711514                          Fast Shipping, Works Great!
1711515    Fit isn't great, relays are very hard to press...
1711516    I bought an auxiliary horn for my car and it n...
1711517    Way better than stock. Nice bright and white. ...
1711518    Great product fast shipping and awesome commun...
Name: reviewText, Length: 1711519, dtype: object

2. Next, let's follow some steps to normalize the text data.

When dealing with natural language, it is important to notice that while, for example, the words "Copper" and "copper" are represented by two different strings, they have the same meaning. When applying statistical methods on this data, it is useful to ensure that words with the same meaning are represented by the same string.

* <span style="background-color: #ccfff2">Downcasing</span>: Let's first downcase the contents of the <span style="background-color: #ccfff2">reviewText</span> field.

Now the first review should be:

*'after i wrote the below review, the manufacturer contacted me and explained how to use this.  instead of the (current) picture on amazon where the phone is placed vertically, you actually use the stand with the phone placed horizontally.'*

In [19]:
# Use this cell for your code
data["reviewText"]=data["reviewText"].str.lower()
data["reviewText"]

0          after i wrote the below review, the manufactur...
1          it sucks barely picks up anything definitely n...
2          well to write a short one, it blew 2 fuses of ...
3          i have absolutely no memory of buying this but...
4                                       it ok it does it job
                                 ...
1711514                          fast shipping, works great!
1711515    fit isn't great, relays are very hard to press...
1711516    i bought an auxiliary horn for my car and it n...
1711517    way better than stock. nice bright and white. ...
1711518    great product fast shipping and awesome commun...
Name: reviewText, Length: 1711519, dtype: object

3. Let's continue with punctuation and stop word removal. Stop words are words like "and", "the", etc. They are usually very common words that have little to do with the actual content matter. There's plenty openly available lists of stop words for almost any (natural) language.

* <span style="background-color: #ccfff2">Punctuation and stop-word removal</span>: Let's now remove all punctuation, as well as the stop words. You can find a stop word list for English, e.g. [here](https://gist.github.com/xldrkp/4a3b1a33f10d37bedbe0068f2b4482e8#file-stopwords-en-txt).*(use the link to download a txt of english stopwords)* Save the stopwords in the file as "stopwords-en.txt".

First review at this point reads as: 

*'wrote review manufacturer contacted explained current picture amazon phone vertically stand phone horizontally'*

In [20]:
# Use this cell for your code
with open("stopwords-en.txt","r") as file:
    stopwords = set(file.read().splitlines()) #set fasdter

#for each line, str replace "word" with empty? 
#wouldnt it take a longtime tho? gottatest
#for punctuation string.punctuation
#used this tuto:https://www.geeksforgeeks.org/python/python-remove-punctuation-from-string/
import string
translator = str.maketrans("","",string.punctuation)
data["reviewText"]=data["reviewText"].str.translate(translator)
data["reviewText"]

#maybefor loop with str replace, but it would take a very long time
#or pandas apply? 
#got a 'float' object has no attribute 'split' error so maybe some vals in reviewText are empty? need to remove them or skip them
def remove_word(string):
    if pd.isna(string):
        return string
    filtered = []
    words=string.split()
    for word in words:
        if word not in stopwords:
            filtered.append(word) #list of words without stops, gotta join them and leave space
    return " ".join(filtered) 
data["reviewText"]=data["reviewText"].apply(remove_word)

data["reviewText"] #ok i think

0          wrote review manufacturer contacted explained ...
1          sucks barely picks definitely cars pretty dont...
2          write short blew 2 fuses car apparently demand...
3          absolutely memory buying im going review goes ...
4                                                ok does job
                                 ...
1711514                            fast shipping works great
1711515    fit isnt great relays hard press connector mec...
1711516    bought auxiliary horn car needed run relay guy...
1711517    way better stock nice bright white super easy ...
1711518    great product fast shipping awesome communicat...
Name: reviewText, Length: 1711519, dtype: object

4. Let's continue with stemming. For example, while the words "swims" and "swim" are different strings, they both refer to swimming. [Stemming](https://en.wikipedia.org/wiki/Stemming) refers to the process of mapping words from their inflected form to their base form, for instance: swims -> swim.

* <span style="background-color: #ccfff2">Stemming</span>: Apply a stemmer on the paragraphs, so that inflected forms are mapped to the base form. For example, for Python the popular natural language toolkit [nltk](http://www.nltk.org/howto/stem.html) has an easy to use stemmer. In case you are using R, you can try the [Snowball stemmer](https://www.rdocumentation.org/packages/corpus/versions/0.10.2/topics/stem_snowball). You can find out how to install nltk from [here](https://www.nltk.org/install.html). It will take a while to run! So, grab a coffee and wait :D

Finally, after stemming: 

*'wrote review manufactur contact explain current pictur amazon phone vertic stand phone horizont'*

In [23]:
# Use this cell for your code
#!pip install nltk
#used the exact methods from the documentation https://www.nltk.org/howto/stem.html
from nltk.stem import *
from nltk.stem.porter import *
stemmer = PorterStemmer()


#pandas apply as well so need a funciton
def stem_words(string):
    if pd.isna(string):
        return string

    words = string.split()
    stemmed=[stemmer.stem(word) for word in words]
    return " ".join(stemmed)

data["reviewText"]=data["reviewText"].apply(stem_words)
data["reviewText"][0]

'wrote review manufactur contact explain use instead current pictur amazon phone place vertic actual use stand phone place horizont charg sync cabl goe hole charg use landscap posit stand doe make sen im upgrad review 2 star 4 star rare case user error star lack document manufactur said includ direct encourag updat photo amazon exampl use wood qualiti good sturdi littl stand im tri think id actual use stand facetim chat think use open offic environ want phone desk alert notif easili hope updat review help origin review throw stand garbag craft nice wood function near tell doe come instruct product descript confu english poorli translat chine iphon sit stand just fine stand way plug plug stand block turn iphon plug just look strang im sure hole stand suppo includ plastic feet instruct affix stand began wobbl figur work thing post review far im concern box experi terribl sorri recommend sampl provid exchang honest review'

5. Finally, filter the data by selecting reviews where the field <span style="background-color: #ccfff2">overall</span> is 4 or 5, and store the review texts in a file named <span style="background-color: #ccfff2">pos.txt</span>. Similarly, select reviews with rating 1 or 2 and store them in a file named <span style="background-color: #ccfff2">neg.txt</span>. Ignore the reviews with overall rating 3. Each line in the two files should contain exactly one preprocessed review text without the rating.

In [32]:
# Use this cell for your code
#select reviews, save to file 

pos=data[(data["overall"]==4 )| (data["overall"]==5)]
neg=data[(data["overall"]==1 )| (data["overall"]==2)]

with open("pos.txt", "w") as file:
    file.write("\n".join(pos["reviewText"].dropna()))
with open("neg.txt", "w") as file:
    file.write("\n".join(neg["reviewText"].dropna()))

#with open("pos.txt", "r") as file:
    #lines = file.readlines()
    #print(lines[:5])

['wrote review manufactur contact explain use instead current pictur amazon phone place vertic actual use stand phone place horizont charg sync cabl goe hole charg use landscap posit stand doe make sen im upgrad review 2 star 4 star rare case user error star lack document manufactur said includ direct encourag updat photo amazon exampl use wood qualiti good sturdi littl stand im tri think id actual use stand facetim chat think use open offic environ want phone desk alert notif easili hope updat review help origin review throw stand garbag craft nice wood function near tell doe come instruct product descript confu english poorli translat chine iphon sit stand just fine stand way plug plug stand block turn iphon plug just look strang im sure hole stand suppo includ plastic feet instruct affix stand began wobbl figur work thing post review far im concern box experi terribl sorri recommend sampl provid exchang honest review\n', 'ok doe job\n', '3 big dog great ford transit connect\n', 'good suction last\n', 'love itwork great wow\n']

## Exercise 3 | SQL basics

Next, let's take a refresher on the basics of SQL. In this exercise, you will be working on the simplified Northwind 2000 SQLite database. You can download the database from Kaggle [here](https://courses.mooc.fi/api/v0/files/course/f92ffc32-2dd4-421d-87f3-c48800422cc5/files/VEKX2bxGCDGyojG902gmYZTXCnrAQw.zip).

To test your SQL queries and complete the exercise, you can download and install SQLite if you don't yet have it installed.

Please write SQL queries for the tasks on the simplified Northwind 2000 SQLite database.

1. List the first name, last name, and hire date of all employees hired after January 1st, 1994.

2. Count how many orders each customer has placed.

3. Find the names of all customers who have ordered the product "Chai".

4. Find all orders that have been placed but not yet shipped.

5. Find the customer who has placed the most orders.

**Remember to submit your solutions. You can return this Jupyter notebook (.ipynb) or .py, .R, etc depending on your programming preferences. Remember to also submit your SQL queries. No need to submit the text files for the programming exercises.**